# Dependencies
node_modules/

# Environment
.env

# Logs
logs/
*.log
npm-debug.log*

# Google Credentials
config/google-credentials.json

# Prisma
prisma/migrations/

# Uploads
uploads/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

